/*Reset CSS*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family:"josefin Sans", sans-serif;
}
main,header {
    /*padding:1rem;*/
padding:1rem;
}
img {
    /*default all images to 100%*/
    width: 100%;
}  
.section-title {
    text-align: center;
    margin:2rem auto;
    font-family:"Rancho", cursive;
    letter-spacing:1px;
    font-size: 2rem;
    font-weight: lighter;

}
.section-title span {
    display:block;
    color: #E76F51;
    margin-top:0.5rem;
}
.btn {
    background-color:#2a9d8f;
    color:white;
    padding:0.5rem 1.5rem;
    border:none;
    border-radius: 10px;
}




/*header style start*/
header nav ul li {
    display: none;
}
#logo{
    display:inline;
    font-size: 2.5rem;
    letter-spacing:2px;
    font-family:"Rancho", cursiv;
    text-align: center;
}
#burger-menu {
    display:inline;
    float:right;
    font-size: 1.6rem;
}
/*header style end*/

/*header style start*/
.hero-info h1{
    font-weight: lighter;
    font-size: 3.5rem;
    color:rgb(50,50,50);
    margin: 3rem 0;

}
.vegana {
    color:#2A9D8F;
}
.hero-buttons {
    display:flex;
    justify-content: space-around;
    

}
.hero-buttons :first-child {
    background-color:#E76F51;
    color: white;
    padding:0.5rem 1.5rem;
    box-shadow: 5px 5px 15px #E76F51ec;
    border-radius:5px;
    border:none;
    margin-right:15%
}
.hero-buttons :last-child{
    border: none; 
    background-color: white;
    font-size: 1rem;
    
    
}

.hero-info img{
    margin:3rem 0;

}
/*specialties-style start*/
.specialty-catergory{
    color:#E76F51;
    font-size:0.9rem;
    margin-top:1rem;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    position:relative;

}
.specialty-catergory :after{
    content:"";
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    height:0.5rem;
    border-bottom:1px solid black;
}
.specialty-description {
    font-size: 1.rem;
    font-weight: lighter;
    padding:1rem;

    
}
.specialty-title{
    font-size:2.6rem;
    display:block;
    position:relative;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}
.specialty-title :after{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:0.5rem;
    border-bottom:1px solid black;
}


.price {
    display:flex;
    justify-content: space-around;
    align-items: centre;
    margin-bottom: 1rem;
    


}
.specialty-img{
    box-shadow: 5px 5px 15px rgba(200,200,200,0.8);
    width: 375px;
    
}


/*menu style start*/ 
.menu-title {
    font-size: 2.5rem;
    font-weight: lighter;
    

}
.menu-item {
    display:flex;
    margin:2rem 0;
    position:relative;
    align-items: centre;
    padding: 0 2rem 2rem 2rem;

}
.menu-item :after{
    content: "";
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:0.5rem;
    border-bottom: 1px dashed black;

}
.menu-item:last-child :after {
    border: none;

}
.menu-item img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-right:1rem;

}
.menu-item section h3{
    margin-bottom: 1rem;

}
.menu-item section h3 span {
    margin-left: 3rem;
    font-weight: lighter;
    color:#333333;

}
.menu-item p{
    color:#333333;
}
/* menu style end*/

/* Testionu style start*/
.testimony-hero{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: centre;
    /*transform:translate(-50%, -50%);*/

/*Adding top/left of 50% moves the top/left margin edge of the element*/
    top: 50%;
    left:50%;
    color:white;
    font-size: 1.4rem;
    width:80%;
    height: 100%;
    font-weight: lighter;
}
.testimony img{
    height: 500px;
    /*background-color: grey;*/
}
.testimony-text{
    font-size: 6rem;
    position:relative;
    top: -500px;
    text-align: center;
    color:black;
}
.text{
    position:relative;
    top:-392px;
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
    color:black;
    font: bolder;
    padding-right: 10px;
    padding-left:10px;
    word-spacing:-0.2rem;
}    
.marias{
    position:relative;
    top:-300px;
    color:black;
    text-align: center;
    font: bolder;
    font-size: large;
    

}
.dots{
    position:relative;
    top:-300px;
    padding-left:470px;
    color:#171212;
    font-size: larger;
    font-weight: bolder;
/*testiomony end*/
}

/*chefs section begins*/
.chefs{
    width:100%;
    position:relative;
    top:-120px;


}
.experts{
    color:#E76F51;
    text-align:center;
    top:50px;

}
.nuestra{
    text-align:center;
}
.img3{
    float:left;
    width:33.3%;
    padding:5px;
}
.expert-images{
    content:"";
    clear:both;
    display:table;
    height:200px;
    

}
.imgi{
    width:470px;
    height:303px;
}
.imgiii{
    height:303px;
}
.expert-info1{
    width:250px;
    background-color:wheat;
    color:black;
    margin-bottom: -100px;
    margin-top: -100px;
    padding-left: 40px;
    padding-right: 50px;
    text-align: center;
    margin-left:100px;
    margin-right:50px;
}
/*.chef1{
    background-color: #EFEFEF;
    width:20px;
    margin-bottom: 2px;
    margin-top:-50px;
}*/

   
/*chefs section end*/
/*.text-text{
    position:relative;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}*/


/*header style start*/

@media screen  and (min-width:725px) {
    
    body { 
        /*max-width:960px;*/
        max-width:1440px;
        margin-right: 200px;
        margin-left: 200px;
        justify-content:right;
    }
    main {
        padding:0;

    }
    header nav ul {
        display:flex;
        justify-content:space-between;
        align-items:centre;

    }
    header nav ul li{
        display:inline;
        font-weight: bold;
        font-size: 1.2rem;
    }
    #burger-menu {
        display: none;
    }
    .hero {
        display:flex;
        padding:1rem;

    }
    .hero-info {
        padding:1rem;
    }
    .hero-info-block {
        display: block;
        
    }
    
    #hero-buttons{
        justify-content: flex-start;
    }
    #hero-image{
        width: 375px;
        float: 0 auto;
        margin-left: 150px;
        justify-content: right;
        margin-bottom: -16px;
    }
    .specialties {
        padding:2rem;
        background-color: #EFEFEF;
    }
    .specialty-item{
        display:flex;
        align-items: center;
        gap:4rem;
        margin-bottom: 2rem;

    }
    .specialty-img{
        width:375px;
    }
    .price{
        flex-direction: column;
        align-items: flex-start;
        
    }
    .price span{
        margin-bottom: 1rem;

    }
    .specialty-item :last-child .specialty-img {
        order:1;
    }
    .specialty-item :last-child .speciatlty-info{
        order:2;

    }
    .menu-container{
        display:flex;
        padding:2rem;

    }
    .menu-title{
        text-align:center;

    }
    .menu-item:after{
        width:75%;
        margin:0 auto;
        
    }
}
@media screen and (min-width:1440px) {
    .text {
        padding-left:100px;
        padding-right:100px;
        font-weight: bolder;
        font-size:45px;
        margin-bottom:-35px;
        margin-top: -15px;
        text-align: center;
    }
    .marias{
        text-align: center;
        font-weight: bolder;
        font-size: 20px;
    }
    .dots{
        font-weight: bolder;
        margin-right: 50px;
        margin-left: 250px;
        margin-top:15px;
    }
    
}
    
